@use "../abstracts";

.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    top: 55px;
    right: 0px;
    background: var(--filter-form-bg);
    box-shadow: var(--filter-form-shadow);
    border-radius: 20px;
    padding: 30px 0;
    transition-duration: 0.3s;

    @include abstracts.screen(sm) {
        width: 85vw;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &-arrow {
        position: absolute;
        top: -18px;
        right: 26px;
        height: 3rem;
        filter: var(--filter-form-arrow);
    }

    &__heading {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        padding-left: 30px;
        margin-bottom: 30px;
    }
}
