@use "../abstracts";

$error-color: #a15243;

.form {
    &__title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--small {
            display: block;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            margin-bottom: 10px;
        }
    }

    &__label {
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        margin-bottom: 20px;
    }

    &__inner {
        margin-top: 30px;

        &-group {
            margin-top: 20px;

            &--row {
                display: flex;
                gap: 30px;
            }
        }

        &-slider {
            position: relative;
            width: 100%;
            height: 2px;
            background: #d2d1d6;

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                translate: 0 -50%;

                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 6px solid #ffb700;

                background: var(--filter-form-bg);
            }

            &::before {
                left: 10%;
            }

            &::after {
                left: 60%;
            }
        }

        &-about {
            flex: 1;
        }

        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-text-input {
            display: flex;
            align-items: center;
            width: 334px;
            height: 44px;
            padding: 10px 16px;

            font-size: 1.4rem;
            font-weight: 500;

            &-small {
                width: 121px;
                height: 36px;
                padding: 0 12px;

                @include abstracts.screen(xl) {
                    width: 100%;
                }
            }

            @include abstracts.screen(sm) {
                width: 100%;
            }
        }

        &-input {
            outline: none;
            width: 100%;
            border-radius: 6px;
            background: transparent;

            &::placeholder {
                font-weight: 400;
            }

            &-icon {
                cursor: pointer;
                margin-left: 12px;
            }
        }

        &-select-wrap {
            grid-template-columns: 2fr 1fr;
            display: grid;
            align-items: center;
            height: 45px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 1;
            cursor: pointer;

            padding: 0 14px;
            min-width: var(--width, 108px);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            @include abstracts.screen(xl) {
                min-width: 108px;
            }
        }

        &-select + &-select {
            border-left: 1px solid #d2d1d6;
            height: calc(100% - 10px);
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;

            @include abstracts.screen(xl) {
                gap: 10px;
            }
        }

        &-tag {
            color: #9e9da8;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            padding: 6px 12px;
            border-radius: 6px;

            background: var(--filter-form-bg-tag);
        }

        @include abstracts.screen(xl) {
            max-height: calc(100vh - 388px);
            overflow-y: auto;
            overscroll-behavior: contain;
        }
    }

    &__row {
        display: flex;
    }

    &__separate {
        width: 1px;
        background: #eee;
        margin: 0 30px;

        @include abstracts.screen(xl) {
            width: 100%;
            height: 1px;
            margin: 20px 0;
        }
    }

    &__footer {
        justify-content: flex-end;
        margin-top: 32px;
        gap: 20px;
    }

    &__cancel,
    &__submit {
        padding: 0 10px;
    }

    &__heading,
    &__content,
    &__footer {
        padding: 0 30px;
    }

    &__content {
        @include abstracts.screen(xl) {
            flex-direction: column;
        }
    }

    // Sign In, Sign Up
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__group {
        margin-top: 30px;

        &-inline {
            display: flex;
            align-items: center;
        }

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)):has(&__input:not(:focus-within)) {
        .form__text-input {
            border-color: $error-color;
            background: rgba($color: $error-color, $alpha: 0.1);
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__error {
        display: none;
        color: $error-color;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
    }

    &__text-input {
        display: flex;
        align-items: center;

        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1px solid #d2d1d6;

        &:focus-within {
            border-color: #77dae6;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input {
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        background: transparent;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon {
            margin-left: 12px;

            &-error {
                display: none;
                width: 24px;
                height: 24px;
                margin-left: 12px;
                animation: shake 0.5s;
            }
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        // user-select: none;

        &-label {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            margin-left: 29px;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
        }

        &::before {
            width: 18px;
            height: 18px;
            border-radius: 5px;
            border: 1px solid #9e9da8;
        }

        &::after {
            display: none;
            width: 10px;
            height: 5px;
            top: 3px;
            left: 3px;
            border: 2px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            background: #ffb700;
        }

        &::after {
            display: block;
        }
    }
}
