.search {
    &-bar {
        height: 50px;
        border-radius: 10px;
        background: var(--search-bar-bg);

        &__input {
            flex: 1;
            height: 100%;
            padding-left: 15px;

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            background: transparent;

            &::placeholder {
                color: var(--search-bar-holder-color);

                font-weight: 400;
            }
        }

        &__submit {
            height: 100%;
            padding: 0 15px;
        }
    }
}
