<div class="container">
    <div class="row row-cols-2 row-cols-xxl-1">
        <div class="col">
            <div class="footer__form">
                <a href="./" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymark" class="logo__img" />
                    <h1 class="logo__tittle">grocerymart</h1>
                </a>
                <form class="footer__act" action="">
                    <input type="text" placeholder="Email address..." class="footer__act-input" />
                    <a class="footer__act-submit">SIGN UP</a>
                </form>
            </div>
        </div>
        <div class="col">
            <div class="footer__info">
                <!-- Column 1 -->
                <div class="footer__info-column">
                    <h4 class="footer__info-title">HOMEBODY</h4>
                    <ul class="footer__info-list">
                        <li>
                            <a class="footer__info-link" href="#!">The Couch</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">The Recliner</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Living Room</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Home theater</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Bedroom</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Family Room</a>
                        </li>
                    </ul>
                </div>
                <!-- Column 2 -->
                <div class="footer__info-column">
                    <h4 class="footer__info-title">ABOUT</h4>
                    <ul class="footer__info-list">
                        <li>
                            <a class="footer__info-link" href="#!">Product Demo</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Comfy 101</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Showrooms</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Press</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Reviews</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Customer Gallery</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Designer</a>
                        </li>
                    </ul>
                </div>
                <!-- Column 3 -->
                <div class="footer__info-column">
                    <h4 class="footer__info-title">SUPPORT</h4>
                    <ul class="footer__info-list">
                        <li>
                            <a class="footer__info-link" href="#!">Contact Us</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">FAQS</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Trade Program</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Affiliate</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Request Fabric</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Sample</a>
                        </li>
                    </ul>
                </div>
                <!-- Column 4 -->
                <div class="footer__info-column">
                    <h4 class="footer__info-title">ACCOUNT</h4>
                    <ul class="footer__info-list">
                        <li>
                            <a class="footer__info-link" href="#!">My Account</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Orders</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Gift Cards</a>
                        </li>
                        <li>
                            <a class="footer__info-link" href="#!">Heroes Discount</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__text">© Terms of Use - Privacy Policy - Shipping Policy - Return Policy</p>
        <div class="footer__social">
            <a href="#!"><img src="./assets/icons/facebook.png" alt="" class="footer__social-icon icon" /></a>
            <a href="#!"><img src="./assets/icons/twiter.png" alt="" class="footer__social-icon icon" /></a>
            <a href="#!"><img src="./assets/icons/instagram.png" alt="" class="footer__social-icon icon" /></a>
            <a href="#!"><img src="./assets/icons/pinterest.png" alt="" class="footer__social-icon icon" /></a>
        </div>
    </div>
</div>
